{% extends "base.html" %}

{% block content %}
    <h2>LogIn</h2>

    <form method="post">
        <label>
            User Name:
            <input type = "text" name = "username" value = ""/>
        </label>
        <br>
        <br>
        <label>
            Password:
            <input type = "password" name = "password" value = ""/>
        </label>
        <br>
        <br>
            <div class="error">{{error}}</div>
        <input type = "submit" value = "Submit"/>

    </form>

{% endblock %}
